hr {
    margin: 4vw 20px 4vw 20px;
}

.projects {
    margin-top: 12vw;
}

.projects span {
    padding-left: 4vw;
    font-size: 10vw;
}

.contact-me{
    text-decoration:2px underline #4ee1a0;
    text-underline-offset: 4vw;
    text-transform: uppercase;
    margin-left: 20vw;
}

.projects-grid-container {
    display: grid;
    grid-template-columns: 100vw;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 2vw 2vw 180vw 7vw;
}

.projects-grid-container article {
    padding: 4vw 0;
    align-content: start;
}

.projects-grid-container article img {
    height: 70vw;
}

.projects-grid-container article h2 {
    text-transform: uppercase;
    margin-bottom: 2vw;
}

.projects-grid-container article span {
    font-size: large;
    text-transform: uppercase;
    color: #d9d9d9;
    margin: 0 6vw 0;
    padding: 0;
}

.view-project, .view-code{
    text-decoration:2px underline #4ee1a0;
    text-underline-offset: 4vw;
    text-transform: uppercase;
}

