hr {
    margin: 4vw 20px 4vw 20px;
}

.projects {
    margin-top: 12vw;
}

.projects span {
    padding-left: 4vw;
    font-size: 10vw;
}

.contact-me{
    text-decoration:2px underline #4ee1a0;
    text-underline-offset: 4vw;
    text-transform: uppercase;
    margin-left: 20vw;
}

.projects-grid-container {
    display: grid;
    grid-template-columns: 100vw;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 2vw 2vw 20vw 7vw;
}

.projects-grid-container article {
    padding: 4vw 0;
    align-content: start;
}

.projects-grid-container article img {
    height: 70vw;
}

.projects-grid-container article h3 {
    text-transform: uppercase;
}

.projects-grid-container article .p-span {
    margin: 4vw 0 6vw 0;
}

.projects-grid-container article span {
    font-size: large;
    text-transform: uppercase;
    color: #d9d9d9;
    padding: 0;
}

.view-project, .view-code{
    text-decoration:2px underline #4ee1a0;
    text-underline-offset: 4vw;
    text-transform: uppercase;
    margin-right: 8vw;
}

footer {
    background-color: #242424;
    text-align: center;
}

footer h2 {
    background-color: #242424;
    padding-top: 12vw;
}

footer p {
    margin: 4vw 1vw;
    background-color: #242424;
    color: #d9d9d9;
    font-weight: 500;
}

footer input, textarea {
    background-color: #242424;
    border: none;
    border-bottom: solid 0.5vw #d9d9d9;
    padding-bottom: 4vw;
    margin: 2vw;
    width: 80%;
}

.contact-form {
    background-color: #242424;
}


footer button {
    border: none;
    text-transform: uppercase;
    background-color: #242424;
    border-bottom:solid 0.75vw #4ee1a0;
    padding-bottom: 2vw;
    text-align: end;
}